
#sasa {
    background-color:#B5B7A3;
}

#victory {
    display: flex;
    justify-content: center !important;
    font-weight: bold !important;
    font-size: 1em !important;
}

#modalAlerte {
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important; 
}

#modalBody {
    background-color:#E2E9ED;
    font-size: 2em !important;
    justify-content: center !important;
    display: flex;
    flex-direction: column;
}

.buttonModal {
    background-color: #E2E9ED !important;
    color: #2B3332 !important;
    font-weight: bold !important;
}

#modalFoot {
    background-color: #B5B7A3;
}

#imgModal {
    margin: 10px !important;
}