.arrKeys {
    width : 120px;
    margin: 8px;
}

#active {
    transform: scale(1.1);
}

#inactive {
    transform: scale(1);
}

.controller {
    position: absolute;
    bottom: 30px;
    margin: auto;
    left : 120px;
}

.toDo {
    margin: 20px;
    position: absolute;
    left: 175px;
}