.arrKeys {
    width : 120px;
    margin: 0px 8px;
    height: 120px;
}   

.upKey {
    text-align: center;
}

.arrKeysU {
    width : 120px;
    margin: -8px 8px;
    position: relative;
    left: 136px;
    height: 120px;
}

.arrKeysGoodU {
    width : 120px;
    margin: -8px 8px;
    position: relative;
    left: 136px;
    height: 120px;
    border: solid 20px rgb(89, 201, 67);
}

.flecheToDo {
    width: 28vh; 
}

.toDo {
    margin-bottom: 24vh;
    padding-top: 20px;
}

.gameplay {
    text-align: center;
}

#zU {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodzU {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpzU {
    transform: scale(1);
    transition-duration: .1s;
}

#qL {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodqL {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpqL {
    transform: scale(1);
    transition-duration: .1s;
}

#sD {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodsD {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpsD {
    transform: scale(1);
    transition-duration: .1s;
}

#dR {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#gooddR {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpdR {
    transform: scale(1);
    transition-duration: .1s;
}

.fullPage {
    display: flex;
    justify-content: space-around;
    height: 88vh;
    width: 100vw;
    align-items: center;
}

.controller2 {
    justify-content: center;
    position: relative;
}

#timer {
    display: flex;
    
}

blockquote {
    text-align: center;
}

.pokemonCap2 {
    position: relative;
    left: 3vw;
}

#oU {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodoU {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpoU {
    transform: scale(1);
    transition-duration: .1s;
}

#kL {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodkL {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpkL {
    transform: scale(1);
    transition-duration: .1s;
}

#lD {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodlD {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UplD {
    transform: scale(1);
    transition-duration: .1s;
}

#mR {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodmR {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpmR {
    transform: scale(1);
    transition-duration: .1s;
}