.arrKeys {
    width : 120px;
    margin: 0px 8px;
    height: 120px;
}   

.upKey {
    text-align: center;
}

.arrKeysU {
    width : 120px;
    margin: -8px 8px;
    position: relative;
    left: 136px;
    height: 120px;
}

.arrKeysGoodU {
    width : 120px;
    margin: -8px 8px;
    position: relative;
    left: 136px;
    height: 120px;
    border: solid 20px rgb(89, 201, 67);
}

/*.pokeball {
    position: absolute;
    width: 180px;
    left : 430px;
    bottom: 310px;
}

.pokeball2 {
    position: absolute;
    width: 180px;
    left : 430px;
    bottom: 310px;
    animation: animPokeball .6s infinite; 
}*/

.flecheToDo {
    width: 28vh; 
}

.toDo {
    margin-bottom: 24vh;
    padding-top: 20px;
}

.gameplay {
    text-align: center;
}

@keyframes animTouch {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

@keyframes animPokeball {
    0% { transform: scale(1); }
    33% { transform: scale(1.2) rotateZ(5deg); }
    66% { transform: scale(1.2) rotateZ(-5deg); }
    100% { transform: scale(1); }
}

#upU {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodupU {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpupU {
    transform: scale(1);
    transition-duration: .1s;
}

#leftL {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodleftL {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpleftL {
    transform: scale(1);
    transition-duration: .1s;
}

#downD {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#gooddownD {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UpdownD {
    transform: scale(1);
    transition-duration: .1s;
}

#rightR {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px #FF1A1A;
}

#goodrightR {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
    border: solid 60px rgb(77, 196, 77);
}

#UprightR {
    transform: scale(1);
    transition-duration: .1s;
}

.fullPage {
    display: flex;
    justify-content: space-around;
    height: 88vh;
    width: 100vw;
    align-items: center;
}

.controller {
    justify-content: center;
    position: relative;
    left: 120px;
}

#timer {
    display: flex;
    
}

blockquote {
    text-align: center;
}

.pokemon2 {
    position: relative;
    left: 8vh;
}