.arrKeys {
    width : 120px;
    margin: 0px 8px;
    height: 120px;
}

.arrKeysU {
    width : 120px;
    margin: -8px 8px;
    position: relative;
    left: 136px;
    height: 120px;
}

#active {
    transform: scale(1.15);
    transition-duration: .1s;
}

#inactive {
    transform: scale(1);
    transition-duration: .1s;
}

.pokeball {
    position: absolute;
    width: 180px;
    left : 430px;
    bottom: 310px;
}

.pokeball2 {
    position: absolute;
    width: 180px;
    left : 430px;
    bottom: 310px;
    animation: animPokeball .6s infinite; 
}

.flecheToDo {
    width: 150px; 
}

.toDo {
    margin-bottom: 25vh;
}

.gameplay {
    text-align: center;
}


@keyframes animTouch {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

@keyframes animPokeball {
    0% { transform: scale(1); }
    33% { transform: scale(1.2) rotateZ(5deg); }
    66% { transform: scale(1.2) rotateZ(-5deg); }
    100% { transform: scale(1); }
}

#upU {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
}

#UpupU {
    transform: scale(1);
    transition-duration: .1s;
}

#leftL {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
}

#UpleftL {
    transform: scale(1);
    transition-duration: .1s;
}

#downD {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
}

#UpdownD {
    transform: scale(1);
    transition-duration: .1s;
}

#rightR {
    transform: scale(1.2);
    transition-duration: .1s;
    border-radius: 60px;
}

#UprightR {
    transform: scale(1);
    transition-duration: .1s;
}

.fullPage {
    display: flex;
    justify-content: space-around;
    height: 90vh;
    width: 100vw;
    align-items: center;
}