* {
  font-family: "Dosis", sans-serif;
}

h2 {
  color: #e84334;
  padding: 1.3rem;
  font-weight: 900 !important;
  font-size: 50px !important;
  letter-spacing: 0.1em;
}

.App-header {
  background-color: #565e49;
  height: 85px;
  font-size: calc(20px + 2vmin);
}

.title {
  text-align: center;
}

.nav-item {
  margin-top: 12px;
}

.nav-item a {  
  padding: 0rem 1rem;
  letter-spacing: 5px;
  font-weight: 900;
  color: #ede9ed;
}

.user-icon {
  width: 6%;
  position: relative;
  float: right;
  top: -70px;
  right: 10px;
}

.nav-item a:hover {
  color: #E8D032;
  text-decoration: none;
}

.selected {
  color:#E8D032 !important;
}
